<header>
  <h1>Byosha</h1>
  <h3>写真投稿ページ</h3>
  <div class="header-list">
      <ul>
        
        <li><%= link_to "写真投稿へ", new_photo_path %></li>
        <li><%= link_to "一覧ページに戻る", photos_path %></li>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
   </div>
</header>

<div class="photo1">
  <%= image_tag @photo.image_url, size: "500x400" if @photo.image? %>
</div>

<div class="text">
    <%= form_with(model: [@photo, @narrative], local: true) do |f| %>
        <%= f.text_area :body, :size=> "100x5" %>
        <%= button_tag type: "submit" do %>
        コメントする
        <% end %>
    <% end %>
</div>
    
<% @narratives.each do |c| %>

    <div>
    <%= c.body %>
    </div>
    
<% end %>


